* {
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 35px;

}
.container {
    display: flex;
    flex-direction: column;
    border: 5px solid #264653;
    min-width: 360px;
    max-width: 50vw;
    background-color: #e76f51;
    padding: 20px;
}

.pad {
    display: flex;
    margin-top: 20px;
    border: 5px solid #264653;
    background-color: #264653;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 60%;
    background-color: #2a9d8f;
    padding: 5px;
    border-right: 3px solid #264653;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 25%;
    background-color: #E9C46A;
    padding: 5px;
    border-left: 3px solid #264653;
}

.display {
    min-height: 50px;
    background-color: #E9C46A;
    color: #264653;
    text-align: end;
    font-size: 70px;
    padding-top: 10px;
    padding-right: 10px;
}

button {
    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #264653;
    color: #f4a261;
    font-size: 30px;
}

.numbers button {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;
}

.operators button {
    flex-grow: 1;
    flex-basis: 40%;
}