.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    min-width: 360px;
    max-width: 50vw;
    box-sizing: border-box;
}

.pad {
    display: flex;
}
.numbers {
    display: flex;
    border: 2px solid palegreen;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 60%;
}

.operators {
    display: flex;
    border: 2px solid plum;
    flex-wrap: wrap;
    /* flex-direction: column; */
    flex-grow: 1;
    flex-basis: 25%;

}

.display {
    border: 2px solid peru;
    min-height: 50px;
}

button {
    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.numbers button {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;
}

.operators button {
    flex-grow: 1;
    flex-basis: 40%;
}